body{
    background-color: rgb(175, 175, 175);
}

.titulo{
    background-color: rgb(47, 170, 170);
    text-align:center ;
    border: 2px solid black;
}

.info{
    background-color: rgb(65, 180, 142);
    margin-top: 50px;
    margin-left: 50px;
    padding: 50px;
    text-align: center;
    border: 2px solid black;
}

.comtenedor{
height:100px;
width: 50px;
margin:0px auto;
}